.spinnerContainer {
  background-color: transparent;
  height: var(--sc-spinner-size);
  width: var(--sc-spinner-size);
}

.spinnerLight {
  animation: spinning 1s linear infinite;
  background: conic-gradient(#737373 50%, #FFFFFF);
  clip-path: circle(50%);
  height: 100%;
  mask-image: radial-gradient(circle at center, rgba(0,0,0,0) calc(var(--sc-spinner-size)/3), rgba(0,0,0,1) calc(var(--sc-spinner-size)/3));
  width: 100%;
}

@keyframes spinning {
  0% { transform: rotate(0deg); }
  50% {transform: rotate(180deg);}
  100% { transform: rotate(360deg); }
}