// searchcraft sdk theme variables

$surface-brand-primary: #000000;
$surface-brand-primary-hover: #2E2E2E;
$surface-brand-secondary-active: #E0E0E0;
$surface-brand-secondary-hover: #EBEBEB;
$surface-danger-secondary-active: #FFB3B3;
$surface-disabled: #D9D9D9;
$surface-middle-active: #1A1A1A;
$surface-primary-active: #F7F7F7;
$surface-secondary: #F3F3F3;
$surface-success-secondary: #404040;

$content-danger: #990000;
$content-disabled: #737373;
$content-disabled-secondary: #BFBFBF;
$content-on-brand-primary: #FFFFFF;
$content-primary: #292929;
$content-secondary: #404040;

$border-danger: #CC0000;
$border-primary: #E6E6E6;
$border-secondary: #333333;