@mixin input-label-base {
  font-family: var(--sc-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}

.labelLight {
  @include input-label-base;
  color: var(--sc-content-primary);
}

.labelDark {
  @include input-label-base;
  color: var(--sc-content-on-brand-primary);
}