:root {
  /** Typography */
  --sc-font-family: sans-serif;
  --sc-heading-1-font-size: 32px;
  --sc-heading-1-line-height: 36px;
  --sc-heading-1-font-weight: 700;
  --sc-heading-2-font-size: 29px;
  --sc-heading-2-line-height: 32px;
  --sc-heading-2-font-weight: 700;
  --sc-heading-3-font-size: 26px;
  --sc-heading-3-line-height: 28px;
  --sc-heading-3-font-weight: 700;
  --sc-heading-4-font-size: 23px;
  --sc-heading-4-line-height: 24px;
  --sc-heading-4-font-weight: 700;
  --sc-heading-5-font-size: 20px;
  --sc-heading-5-line-height: 24px;
  --sc-heading-5-font-weight: 700;
  --sc-heading-6-font-size: 10px;
  --sc-heading-6-line-height: 12px;
  --sc-heading-6-font-weight: 700;
  --sc-body-bold-font-size: 16px;
  --sc-body-bold-line-height: 20px;
  --sc-body-bold-font-weight: 700;
  --sc-body-font-size: 16px;
  --sc-body-line-height: 20px;
  --sc-body-font-weight:400;
  --sc-body-small-bold-font-size: 12px;
  --sc-body-small-bold-line-height: 16px;
  --sc-body-small-bold-font-weight: 700;
  --sc-body-small-font-size: 12px;
  --sc-body-small-line-height: 16px;
  --sc-body-small-font-weight: 400;
}

/** Appearance & Layout */
:root {
  /**
   * Border radius of the input form element.
   */
  --sc-input-border-radius: 8px;
  /**
   * Icon size of the "magnifying glass" icon rendered in the input form.
   */
  --sc-input-search-icon-size: 20px;
  /**
   * Icon size of the `x` button rendered in the input form.
   */
  --sc-input-clear-icon-size: 20px;
  /**
   * Padding on the left side of the input form.
   */
  --sc-input-padding-left: 44px;
  /**
   * Padding on the right side of the input form.
   */
  --sc-input-padding-right: 44px;
  /**
   * Border radius applied to result images.
   */
  --sc-image-border-radius: 8px;
  /**
   * Border radius applied to popover form containers.
   */
  --sc-popover-form-border-radius: 8px;
  /**
   * Height of the list view/results container portion of the popover form.
   */
  --sc-popover-list-view-height: 400px;
  /**
   * Size of images of list view items in the popoer list view.
   */
  --sc-popover-list-item-image-size: 60px;
  /**
   * Horizontal padding of popover list items.
   */
  --sc-popover-list-item-padding-horizontal: 8px;
  /**
   * Vertical padding of popover list items.
   */
  --sc-popover-list-item-padding-vertical: 8px;
  /**
   * Maximum width of popover forms of type `modal`.
   */
  --sc-popover-modal-max-width: 570px;
}

/**
* Variables that need to be part of the preprocessor can go here.
*/
:root {
  --sc-breakpoint-sm: 576px;
  --sc-breakpoint-md: 768px;
  --sc-breakpoint-lg: 992px;
}

:root {
  --sc-surface-disabled: #D9D9D9;
  --sc-surface-neutral-primary: #FFFFFF;
  --sc-surface-neutral-secondary: #F3F3F3;
  --sc-surface-neutral-light: #FFFFFF;
  --sc-surface-neutral-primary-hover: #FAFAFA;
  --sc-surface-neutral-primary-active: #F7F7F7;
  --sc-surface-neutral-secondary-hover: #EDEDED;
  --sc-surface-neutral-secondary-active: #E6E6E6;
  --sc-surface-brand-primary: #000000;
  --sc-surface-brand-secondary: #E6E6E6;
  --sc-surface-brand-primary-hover: #2E2E2E;
  --sc-surface-brand-primary-active: #292929;
  --sc-surface-brand-secondary-hover: #EBEBEB;
  --sc-surface-brand-secondary-active: #E0E0E0;
  --sc-surface-success-primary: #008000;
  --sc-surface-success-secondary: #CCFFCC;
  --sc-surface-success-primary-hover: #009900;
  --sc-surface-success-primary-active: #006600;
  --sc-surface-success-secondary-hover: #E6FFE6;
  --sc-surface-success-secondary-active: #E6FFE6;
  --sc-surface-caution-primary: #CC6600;
  --sc-surface-caution-secondary: #FFD9B3;
  --sc-surface-caution-primary-hover: #E57300;
  --sc-surface-caution-primary-active: #B25A00;
  --sc-surface-caution-secondary-hover: #FFE5CC;
  --sc-surface-caution-secondary-active: #FFCC99;
  --sc-surface-danger-primary: #CC0000;
  --sc-surface-danger-secondary: #FFCCCC;
  --sc-surface-danger-primary-hover: #E50000;
  --sc-surface-danger-primary-active: #B30000;
  --sc-surface-danger-secondary-hover: #FFE7E7;
  --sc-surface-danger-secondary-active: #FFB3B3;
  --sc-content-brand: #000000;
  --sc-content-success: #008000;
  --sc-content-caution: #994D00;
  --sc-content-danger: #990000;
  --sc-content-disabled: #737373;
  --sc-content-neutral-primary: #292929;
  --sc-content-neutral-secondary: #404040;
  --sc-content-brand-on-primary: #FFFFFF;
  --sc-content-success-on-primary: #FFFFFF;
  --sc-content-caution-on-primary: #FFFFFF;
  --sc-content-danger-on-primary: #FFFFFF;
  --sc-content-disabled-on-disabled: #737373;
  --sc-border-neutral: rgba(0,0,0, 0.1);
  --sc-border-brand: #000000;
  --sc-border-success: #008000;
  --sc-border-caution: #CC6600;
  --sc-border-danger: #CC0000;
  --sc-border-disabled: #737373;
}

.searchcraft-search-result-container {
  all: unset;
  align-items: flex-start;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  color: inherit;
  background-color: var(--sc-surface-neutral-primary);
}
@media (min-width: 768px) {
  .searchcraft-search-result-container {
    flex-direction: row;
  }
}

a.searchcraft-search-result-container {
  cursor: pointer;
  transition: background-color 100ms;
}

.searchcraft-base-search-result-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchcraft-search-result-image {
  border-radius: var(--sc-image-border-radius);
  width: 100%;
}
@media (min-width: 768px) {
  .searchcraft-search-result-image {
    width: 200px;
  }
}

.searchcraft-base-search-result-title {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-bold-font-size);
  font-weight: var(--sc-body-bold-font-weight);
  line-height: var(--sc-body-bold-line-height);
  margin: 0;
  color: var(--sc-content-neutral-primary);
}

.searchcraft-base-search-result-subtitle {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-font-size);
  font-weight: var(--sc-body-small-font-weight);
  line-height: var(--sc-body-small-line-height);
  margin: 0;
  color: var(--sc-content-disabled);
}

.searchcraft-base-search-result-body-content {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-body-font-weight);
  line-height: var(--sc-body-line-height);
  margin: 0;
  color: var(--sc-content-neutral-secondary);
}

.searchcraft-base-search-result-footer-content {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-body-font-weight);
  line-height: var(--sc-body-line-height);
  margin: 0;
  color: var(--sc-content-disabled);
}

.searchcraft-search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.searchcraft-ad-section {
  align-items: center;
  background-color: #F1F1F1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  min-height: 176px;
  text-align: center;
}
.searchcraft-ad-section p {
  margin: 0;
  color: var(--sc-content-disabled);
}

.searchcraft-search-results-empty-state-container {
  text-align: center;
}

.searchcraft-search-results-error-message-container {
  text-align: center;
}

.searchcraft-button {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-bold-font-size);
  font-weight: var(--sc-body-bold-font-weight);
  line-height: var(--sc-body-bold-line-height);
  border-radius: 8px;
  display: flex;
  padding: 12px 20px;
  position: relative;
  background-color: var(--sc-surface-brand-primary);
  border: 1px solid var(--sc-border-primary);
  color: var(--sc-content-brand-on-primary);
}
.searchcraft-button:hover {
  cursor: pointer;
  background-color: var(--sc-surface-brand-primary-hover);
}
.searchcraft-button:focus {
  outline: 2px solid var(--sc-surface-brand-primary);
}

.buttonLabel {
  position: relative;
}

.searchcraft-error-message {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-font-size);
  font-weight: var(--sc-body-small-font-weight);
  line-height: var(--sc-body-small-line-height);
  color: var(--sc-content-danger);
  margin: 0;
}

.filtersListContainer {
  width: 100%;
}

.filterCheckboxLabel {
  align-items: center;
  color: var(--sc-content-primary);
  display: flex;
  font-family: var(--sc-font-family);
  font-size: 14px;
  font-weight: 600;
  gap: 14px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.filterCheckboxLabel input[type=checkbox] {
  align-items: center;
  appearance: none;
  background-color: var(--sc-surface-brand-secondary-hover);
  border: 1px solid var(--sc-surface-disabled);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.filterCheckboxLabel input[type=checkbox]:focus {
  outline: 2px solid var(--sc-surface-brand-primary);
}

.filterCheckboxLabel input[type=checkbox]:checked {
  background-color: var(--sc-surface-brand-primary);
  position: relative;
}

.filterCheckboxLabel input[type=checkbox]:checked + .checkContainer {
  display: block;
}

.filterCheckboxLabel input[type=checkbox]:checked + .dashContainer {
  display: block;
}

.childFilterCheckboxLabel {
  align-items: center;
  color: var(--sc-content-primary);
  display: flex;
  font-family: var(--sc-font-family);
  font-size: 14px;
  font-weight: 600;
  gap: 12px;
  margin-left: 24px;
  position: relative;
}

.childFilterCheckboxLabel input[type=checkbox] {
  align-items: center;
  appearance: none;
  background-color: var(--sc-surface-brand-secondary-hover);
  border: 1px solid var(--sc-surface-disabled);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: relative;
  width: 24px;
  -webkit-font-smoothing: antialiased;
}

.childFilterCheckboxLabel input[type=checkbox]:focus {
  outline: 2px solid var(--sc-surface-brand-primary);
}

.childFilterCheckboxLabel input[type=checkbox]:checked {
  background-color: var(--sc-surface-brand-primary);
  position: relative;
}

.childFilterCheckboxLabel input[type=checkbox]:checked + .checkContainer {
  display: block;
}

.childFilterCheckboxLabel input[type=checkbox]:checked + .dashContainer {
  display: block;
}

.checkContainer {
  display: none;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 9px;
  left: 8px;
}

.dashContainer {
  display: none;
  height: 3px;
  width: 14px;
  position: absolute;
  top: 3px;
  left: 9px;
}

.searchcraft-facet-message {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-font-size);
  font-weight: var(--sc-body-small-font-weight);
  line-height: var(--sc-body-small-line-height);
  color: var(--sc-content-disabled);
  text-align: center;
}

.searchcraft-filter-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.searchcraft-filter-panel-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchcraft-filter-panel-label {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-bold-font-size);
  font-weight: var(--sc-body-small-bold-font-weight);
  line-height: var(--sc-body-small-bold-line-height);
}

.searchcraft-input-grid {
  display: grid;
  gap: 4px 8px;
}

.searchcraft-input-grid-buttonLeft {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto 1fr;
}
.searchcraft-input-grid-buttonLeft .searchcraft-input-button-wrapper {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.searchcraft-input-grid-buttonLeft .searchcraft-input-label-wrapper {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.searchcraft-input-grid-buttonLeft .searchcraft-input-error-wrapper {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}
.searchcraft-input-grid-buttonLeft .searchcraft-input-wrapper {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.searchcraft-input-grid-buttonRight {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr auto;
}
.searchcraft-input-grid-buttonRight .searchcraft-input-button-wrapper {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
.searchcraft-input-grid-buttonRight .searchcraft-input-label-wrapper {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.searchcraft-input-grid-buttonRight .searchcraft-input-error-wrapper {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.searchcraft-input-grid-buttonRight .searchcraft-input-wrapper {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

.searchcraft-input-grid-buttonNone {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
}
.searchcraft-input-grid-buttonNone .searchcraft-input-button-wrapper {
  display: none;
}
.searchcraft-input-grid-buttonNone .searchcraft-input-label-wrapper {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.searchcraft-input-grid-buttonNone .searchcraft-input-error-wrapper {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.searchcraft-input-grid-buttonNone .searchcraft-input-wrapper {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

.searchcraft-input-wrapper {
  position: relative;
  display: flex;
}

.searchcraft-input {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-body-font-weight);
  line-height: var(--sc-body-line-height);
  background-color: var(--sc-surface-neutral-secondary);
  border-radius: var(--sc-input-border-radius);
  border: none;
  color: var(--sc-content-neutral-primary);
  outline: none;
  padding-left: var(--sc-input-padding-left);
  padding-right: var(--sc-input-padding-right);
  padding-top: 12px;
  padding-bottom: 12px;
  flex: 1;
}
.searchcraft-input::placeholder {
  color: var(--sc-content-disabled);
}
.searchcraft-input:focus {
  outline: var(--sc-border-brand) solid 2px;
}
.searchcraft-input:focus::placeholder {
  opacity: 0;
}

.searchcraft-input.error {
  color: var(--sc-content-danger);
  outline: var(--sc-border-danger) solid 2px;
}
.searchcraft-input.error:focus {
  outline: var(--sc-border-danger) solid 2px;
}

.searchcraft-input-search-icon-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  top: 0;
  width: var(--sc-input-padding-left);
}

.searchcraft-input-search-icon {
  pointer-events: none;
  width: var(--sc-input-search-icon-size);
  height: var(--sc-input-search-icon-size);
}

.searchcraft-input-clear-button {
  all: unset;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  position: absolute;
  border: none;
  outline: none;
  bottom: 0;
  right: 0;
  top: 0;
  width: var(--sc-input-padding-right);
}

.searchcraft-input-clear-icon {
  width: var(--sc-input-clear-icon-size);
  height: var(--sc-input-clear-icon-size);
}

.searchcraft-input-label {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-bold-font-size);
  font-weight: var(--sc-body-small-bold-font-weight);
  line-height: var(--sc-body-small-bold-line-height);
  color: var(--sc-content-neutral-primary);
  margin-top: 4px;
  margin-bottom: 4px;
}

/**
 * Styles applied to all popover form variants.
 */
.searchcraft-popover-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.searchcraft-popover-form .searchcraft-popover-form-input-wrapper {
  padding: 12px;
  background-color: var(--sc-surface-neutral-secondary);
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.searchcraft-popover-form .searchcraft-popover-form-input-wrapper > searchcraft-input-form {
  flex: 1;
}
.searchcraft-popover-form .searchcraft-popover-form-cancel-button {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-body-font-weight);
  line-height: var(--sc-body-line-height);
  border: 0;
  outline: 0;
  padding: 0;
  flex-shrink: 0;
  background: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: calc(var(--sc-popover-form-border-radius) * 0.8);
}
.searchcraft-popover-form .searchcraft-popover-form-cancel-button:hover {
  background-color: var(--sc-surface-brand-secondary-hover);
}
.searchcraft-popover-form .searchcraft-popover-form-cancel-button:focus {
  background-color: var(--sc-surface-brand-secondary-active);
}

/**
 * Styles applied to `inline` popover forms.
 */
.searchcraft-popover-form-inline .searchcraft-input {
  border-top-left-radius: var(--sc-popover-form-border-radius);
  border-top-right-radius: var(--sc-popover-form-border-radius);
  border-bottom-left-radius: var(--sc-popover-form-border-radius);
  border-bottom-right-radius: var(--sc-popover-form-border-radius);
  border: none;
  outline: none;
}
.searchcraft-popover-form-inline.searchcraft-popover-form-active .searchcraft-input {
  border-top-left-radius: var(--sc-popover-form-border-radius);
  border-top-right-radius: var(--sc-popover-form-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.searchcraft-popover-form-inline .searchcraft-popover-inline-wrapper-outer {
  position: relative;
}
.searchcraft-popover-form-inline .searchcraft-popover-inline-wrapper-inner {
  position: absolute;
  height: var(--sc-popover-list-view-height);
  z-index: 1000;
  width: 100%;
}
.searchcraft-popover-form-inline .searchcraft-popover-list-view {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--sc-surface-neutral-secondary);
  border-bottom-left-radius: var(--sc-popover-form-border-radius);
  border-bottom-right-radius: var(--sc-popover-form-border-radius);
  max-height: var(--sc-popover-list-view-height);
}

/**
 * Styles applied to `modal` popover forms.
 */
.searchcraft-popover-form-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  background-color: var(--sc-surface-neutral-secondary);
}
@media (min-width: 576px) {
  .searchcraft-popover-form-modal {
    padding: 16px;
    background-color: transparent;
  }
}
.searchcraft-popover-form-modal .searchcraft-input {
  border-radius: calc(var(--sc-popover-form-border-radius) * 0.8);
  outline-width: 1px;
  outline-color: var(--sc-border-neutral);
}
.searchcraft-popover-form-modal .searchcraft-popover-form-modal-backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
@media (min-width: 576px) {
  .searchcraft-popover-form-modal .searchcraft-popover-form-modal-backdrop {
    display: block;
  }
}
.searchcraft-popover-form-modal .searchcraft-popover-form-modal-inner {
  position: absolute;
  inset: 0;
  z-index: 1002;
  margin-top: 0px;
  display: flex;
  border-radius: var(--sc-popover-form-border-radius);
  overflow: hidden;
}
@media (min-width: 576px) {
  .searchcraft-popover-form-modal .searchcraft-popover-form-modal-inner {
    inset: auto;
    position: relative;
    width: 100%;
    margin-top: 100px;
    max-width: var(--sc-popover-modal-max-width);
  }
}
.searchcraft-popover-form-modal .searchcraft-popover-list-view {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--sc-surface-neutral-secondary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 576px) {
  .searchcraft-popover-form-modal .searchcraft-popover-list-view {
    max-height: var(--sc-popover-list-view-height);
  }
}
.searchcraft-popover-form-modal searchcraft-popover-list-view {
  overflow: scroll;
}
@media (min-width: 576px) {
  .searchcraft-popover-form-modal searchcraft-popover-list-view {
    overflow: auto;
  }
}

/**
 * Styles applied to `fullscreen` popover forms.
 */
.searchcraft-popover-form-fullscreen {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: var(--sc-surface-neutral-secondary);
}
.searchcraft-popover-form-fullscreen .searchcraft-popover-form {
  position: absolute;
  inset: 0;
}
.searchcraft-popover-form-fullscreen .searchcraft-input {
  border-radius: calc(var(--sc-popover-form-border-radius) * 0.8);
  outline-width: 1px;
  outline-color: var(--sc-border-neutral);
}
.searchcraft-popover-form-fullscreen searchcraft-popover-list-view {
  overflow: scroll;
}

.searchcraft-popover-list-item {
  all: unset;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 8px;
  padding-right: var(--sc-popover-list-item-padding-horizontal);
  padding-left: var(--sc-popover-list-item-padding-horizontal);
  padding-top: var(--sc-popover-list-item-padding-vertical);
  padding-bottom: var(--sc-popover-list-item-padding-vertical);
}
.searchcraft-popover-list-item:focus {
  background-color: var(--sc-surface-neutral-secondary-active);
  color: var(--sc-content-neutral-secondary);
}
.searchcraft-popover-list-item:hover {
  background-color: var(--sc-surface-neutral-secondary-hover);
  color: var(--sc-content-neutral-secondary);
}

.searchcraft-popover-list-item-title {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-body-font-weight);
  line-height: var(--sc-body-line-height);
  margin: 0;
  color: inherit;
}

.searchcraft-popover-list-item-subtitle {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-font-size);
  font-weight: var(--sc-body-small-font-weight);
  line-height: var(--sc-body-small-line-height);
  margin: 0;
  color: inherit;
}

.searchcraft-popover-list-item-image-wrapper {
  width: var(--sc-popover-list-item-image-size);
  height: var(--sc-popover-list-item-image-size);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.searchcraft-popover-list-item-image {
  max-width: var(--sc-popover-list-item-image-size);
  max-height: var(--sc-popover-list-item-image-size);
}

.searchcraft-popover-list-item-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.searchcraft-results-info-container {
  border-bottom: 1px solid var(--sc-surface-disabled);
  display: flex;
  justify-content: flex-start;
}

.searchcraft-results-info-content {
  color: var(--sc-content-primary);
  font-family: var(--sc-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px 0 8px;
}
@media (max-width: 768px) {
  .searchcraft-results-info-content {
    margin: 0;
    margin-bottom: 8px;
  }
}

.searchcraft-slider-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.searchcraft-slider-range-container {
  align-items: center;
  background-color: var(--sc-surface-disabled);
  border-radius: 999px;
  display: flex;
  position: relative;
  height: 4px;
  width: 100%;
}
.searchcraft-slider-range-container::-webkit-slider-runnable-track {
  pointer-events: none;
}
.searchcraft-slider-range-container .searchcraft-slider-active-range {
  background-color: var(--sc-surface-brand-primary);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.searchcraft-slider-range-container .searchcraft-slider-active-range::-webkit-slider-runnable-track {
  pointer-events: none;
}
.searchcraft-slider-range-container .searchcraft-slider-active-range::-moz-range-track {
  pointer-events: none;
}
.searchcraft-slider-range-container .searchcraft-slider-input {
  appearance: none;
  background: transparent;
  border-radius: 2px;
  height: 4px;
  margin: 0;
  outline: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
}
.searchcraft-slider-range-container .searchcraft-slider-input::-webkit-slider-thumb {
  background-color: var(--sc-surface-neutral-light);
  border-radius: 50%;
  border: 2px solid var(--sc-border-neutral);
  cursor: pointer;
  height: 20px;
  pointer-events: all;
  width: 20px;
  -webkit-appearance: none;
}
.searchcraft-slider-range-container .searchcraft-slider-input::-moz-range-thumb {
  background-color: var(--sc-surface-neutral-light);
  border-radius: 50%;
  border: 2px solid var(--sc-border-neutral);
  cursor: pointer;
  height: 20px;
  pointer-events: all;
  width: 20px;
}

.searchcraft-slider-label-container {
  color: var(--sc-content-primary);
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.searchcraft-slider-label {
  min-width: 30px;
  text-align: center;
}

.searchcraft-toggle-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.searchcraft-toggle-button-label {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-body-font-weight);
  line-height: var(--sc-body-line-height);
  margin: 0;
  color: var(--sc-content-neutral-primary);
}

.searchcraft-toggle-button-sub-label {
  font-family: var(--sc-font-family);
  -webkit-font-smoothing: antialiased;
  font-size: var(--sc-body-small-font-size);
  font-weight: var(--sc-body-small-font-weight);
  line-height: var(--sc-body-small-line-height);
  margin: 0;
  color: var(--sc-content-neutral-secondary);
}

.searchcraft-toggle-button-background {
  transition: background-color 0.2s;
  background: var(--sc-surface-disabled);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  height: 26px;
  position: relative;
  width: 44px;
  flex-shrink: 0;
}

.searchcraft-toggle-button-background.active {
  background: var(--sc-surface-brand-primary);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.searchcraft-toggle-button-handle {
  background: var(--sc-surface-neutral-light);
  border-radius: 50%;
  height: 18px;
  left: 4px;
  position: absolute;
  top: calc(50% - 9px);
  transition: transform 0.3s ease;
  width: 18px;
}

.searchcraft-toggle-button-handle.active {
  transform: translateX(16px);
}

/*# sourceMappingURL=hologram.css.map */
