:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

.inputIconLTR {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputIconRTL {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}