:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

.inputIconLTR {
  height: 20px;
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.inputIconRTL {
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}