@import '../../utils/theme';

:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

.resultsInfoContainer {
  border-bottom: 1px solid $light-search-result-image-border;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.resultsInfoContent {
  color: $light-input-label-color;
  font-family: var(--font-stack);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 24px 0 8px;

  @media (max-width: 900px) {
    margin: 0;
    margin-bottom: 8px;
  }
}