:root {
  // border radius
  --sc-border-radius: 8px;
  --sc-border-radius-sm: calc(var(--sc-border-radius) / 2);
  --sc-border-radius-lg: calc(var(--sc-border-radius) * 2);
}

@mixin offset-border-radius($radius, $distance) {
  border-radius: max(0, calc($radius + $distance));
}
