:root {
  // border radius
  --sc-border-radius: 8px;
  --sc-border-radius-sm: calc(var(--sc-border-radius) / 2);
  --sc-border-radius-lg: calc(var(--sc-border-radius) * 2);
}

/**
 * Usage:
 * .some-class {
 *   @include appearance.offset-border-radius(--sc-border-radius-lg, 8px);
 * }
 */
@mixin offset-border-radius($radius, $distance) {
  border-radius: calc($radius + $distance); // for units
  border-radius: calc(var(#{$radius}) + $distance); // for variable name
}
