:root {
  /** ------------ NEUTRAL ------------- */
  --sc-surface-neutral-primary: var(--sc-color-background, #ffffff);

  --sc-color-background-hover-computed: hsl(
    from var(--sc-color-background) h s clamp(10, calc(l + 5), 95)
  );
  --sc-surface-neutral-primary-hover: var(
    --sc-color-background-hover,
    var(--sc-color-background-hover-computed, #fafafa)
  );

  --sc-color-background-active-computed: hsl(
    from var(--sc-color-background) h s clamp(5, calc(l - 5), 90)
  );
  --sc-surface-neutral-primary-active: var(
    --sc-color-background-active,
    var(--sc-color-background-active-computed, #f7f7f7)
  );

  // secondary
  --sc-surface-neutral-secondary: var(
    --sc-color-background-secondary,
    var(--sc-color-background, #f3f3f3)
  );

  --sc-color-background-secondary-hover-computed: hsl(
    from var(--sc-color-background-secondary) h s clamp(10, calc(l + 5), 95)
  );
  --sc-surface-neutral-secondary-hover: var(
    --sc-color-background-hover,
    var(--sc-color-background-hover-computed, #e6e6e6)
  );

  --sc-color-background-secondary-active-computed: hsl(
    from var(--sc-color-background-secondary) h s clamp(5, calc(l - 5), 90)
  );
  --sc-surface-neutral-secondary-active: var(
    --sc-color-background-secondary-active,
    var(--sc-color-background-active-computed, #e0e0e0)
  );

  // light
  --sc-surface-neutral-light: #ffffff;

  // content
  --sc-content-neutral-primary: var(--sc-color-foreground, #292929);

  --sc-color-foreground-secondary-computed: hsl(
    from var(--sc-color-foreground) h s clamp(10, calc(l + 5), 90)
  );
  --sc-content-neutral-secondary: var(
    --sc-color-foreground-secondary,
    var(--sc-color-foreground-secondary-computed, #404040)
  );

  // border
  --sc-border-neutral: var(--sc-color-border, rgba(0, 0, 0, 0.1));

  /** ------------ BRAND ------------- */
  // primary
  --sc-surface-brand-primary: var(--sc-color-brand, #000000);

  --sc-color-brand-hover-computed: hsl(
    from var(--sc-color-brand) h s clamp(20, calc(l + 5), 95)
  );
  --sc-surface-brand-primary-hover: var(
    --sc-color-brand-hover,
    var(--sc-color-brand-hover-computed, #2e2e2e)
  );

  --sc-color-brand-active-computed: hsl(
    from var(--sc-color-brand) h s clamp(10, calc(l - 5), 85)
  );
  --sc-surface-brand-primary-active: var(
    --sc-color-brand-active,
    var(--sc-color-brand-active-computed, #292929)
  );

  // secondary
  --sc-surface-brand-secondary: var(
    --sc-color-brand-secondary,
    var(--sc-color-brand, #e6e6e6)
  );

  --sc-color-brand-secondary-hover-computed: hsl(
    from var(--sc-color-brand-secondary) h s clamp(10, calc(l + 5), 95)
  );
  --sc-surface-brand-secondary-hover: var(
    --sc-color-background-hover,
    var(--sc-color-background-hover-computed, #ebebeb)
  );

  --sc-color-brand-secondary-active-computed: hsl(
    from var(--sc-color-brand-secondary) h s clamp(5, calc(l - 5), 90)
  );
  --sc-surface-brand-secondary-active: var(
    --sc-color-brand-secondary-active,
    var(--sc-color-brand-active-computed, #e0e0e0)
  );

  // content
  --sc-content-brand: var(
    --sc-color-brand-text,
    var(--sc-surface-brand-primary)
  );
  --sc-content-brand-on-primary: #ffffff;

  // border
  --sc-border-brand: var(--sc-surface-brand-primary);

  /** ------------ SUCCESS ------------- */
  // primary
  --sc-surface-success-primary: var(--sc-color-success, #008000);

  --sc-color-success-primary-hover-computed: hsl(
    from var(--sc-color-success) h s 30
  );
  --sc-surface-success-primary-hover: var(
    --sc-color-success-primary-hover,
    var(--sc-color-success-primary-hover-computed, #009900)
  );

  --sc-color-success-primary-active-computed: hsl(
    from var(--sc-color-success) h s 20
  );
  --sc-surface-success-primary-active: var(
    --sc-color-success-primary-active,
    var(--sc-color-success-primary-active-computed, #006600)
  );

  // secondary
  --sc-color-success-secondary-computed: hsl(
    from var(--sc-color-success) h s 90
  );
  --sc-surface-success-secondary: var(
    --sc-color-success-secondary,
    var(--sc-color-success-secondary-computed, #ccffcc)
  );

  --sc-color-success-secondary-hover-computed: hsl(
    from var(--sc-color-success-secondary) h s 95
  );
  --sc-surface-success-secondary-hover: var(
    --sc-color-success-secondary-hover,
    var(--sc-color-success-secondary-hover-computed, #e6ffe6)
  );

  --sc-color-success-secondary-active-computed: hsl(
    from var(--sc-color-success-secondary) h s 85
  );
  --sc-surface-success-secondary-active: var(
    --sc-color-success-secondary-active,
    var(--sc-color-success-secondary-active-computed, #b2ffb2)
  );

  // content
  --sc-content-success: var(
    --sc-color-brand-text,
    hsl(from var(--sc-surface-success-primary) h s 30)
  );
  --sc-content-success-on-primary: #ffffff;

  // border
  --sc-border-success: var(--sc-surface-success-primary);

  /** ------------ CAUTION ------------- */
  // primary
  --sc-surface-caution-primary: var(--sc-color-caution, #cc6600);

  --sc-color-caution-primary-hover-computed: hsl(
    from var(--sc-color-caution) h s 30
  );
  --sc-surface-caution-primary-hover: var(
    --sc-color-caution-primary-hover,
    var(--sc-color-caution-primary-hover-computed, #e57300)
  );

  --sc-color-caution-primary-active-computed: hsl(
    from var(--sc-color-caution) h s 20
  );
  --sc-surface-caution-primary-active: var(
    --sc-color-caution-primary-active,
    var(--sc-color-caution-primary-active-computed, #b25a00)
  );

  // secondary
  --sc-color-caution-secondary-computed: hsl(
    from var(--sc-color-caution) h s 90
  );
  --sc-surface-caution-secondary: var(
    --sc-color-caution-secondary,
    var(--sc-color-caution-secondary-computed, #ffd9b3)
  );

  --sc-color-caution-secondary-hover-computed: hsl(
    from var(--sc-color-caution-secondary) h s 95
  );
  --sc-surface-caution-secondary-hover: var(
    --sc-color-caution-secondary-hover,
    var(--sc-color-caution-secondary-hover-computed, #ffe5cc)
  );

  --sc-color-caution-secondary-active-computed: hsl(
    from var(--sc-color-caution-secondary) h s 85
  );
  --sc-surface-caution-secondary-active: var(
    --sc-color-caution-secondary-active,
    var(--sc-color-caution-secondary-active-computed, #ffcc99)
  );

  // content
  --sc-content-caution: var(
    --sc-color-caution-text,
    hsl(from var(--sc-surface-caution-primary) h s 30)
  );
  --sc-content-caution-on-primary: #ffffff;

  // border
  --sc-border-caution: var(--sc-surface-caution-primary);

  /** ------------ DANGER ------------- */
  // primary
  --sc-surface-danger-primary: var(--sc-color-danger, #cc0000);

  --sc-color-danger-primary-hover-computed: hsl(
    from var(--sc-color-danger) h s 30
  );
  --sc-surface-danger-primary-hover: var(
    --sc-color-danger-primary-hover,
    var(--sc-color-danger-primary-hover-computed, #e50000)
  );

  --sc-color-danger-primary-active-computed: hsl(
    from var(--sc-color-danger) h s 20
  );
  --sc-surface-danger-primary-active: var(
    --sc-color-danger-primary-active,
    var(--sc-color-danger-primary-active-computed, #b30000)
  );

  // secondary
  --sc-color-danger-secondary-computed: hsl(from var(--sc-color-danger) h s 90);
  --sc-surface-danger-secondary: var(
    --sc-color-danger-secondary,
    var(--sc-color-danger-secondary-computed, #ffcccc)
  );

  --sc-color-danger-secondary-hover-computed: hsl(
    from var(--sc-color-danger-secondary) h s 95
  );
  --sc-surface-danger-secondary-hover: var(
    --sc-color-danger-secondary-hover,
    var(--sc-color-danger-secondary-hover-computed, #ffe7e7)
  );

  --sc-color-danger-secondary-active-computed: hsl(
    from var(--sc-color-danger-secondary) h s 85
  );
  --sc-surface-danger-secondary-active: var(
    --sc-color-danger-secondary-active,
    var(--sc-color-danger-secondary-active-computed, #ffb3b3)
  );

  // content
  --sc-content-danger: var(
    --sc-color-caution-text,
    hsl(from var(--sc-surface-danger-primary) h s 30)
  );
  --sc-content-danger-on-primary: #ffffff;

  // border
  --sc-border-danger: var(--sc-surface-danger-primary);

  /* ------------ DISABLED ------------- */
  --sc-color-disabled: hsl(from var(--sc-color-page-primary) h s calc(l * 0.5));
  --sc-surface-disabled: var(--sc-color-disabled, #d9d9d9);
  --sc-color-disabled-text: hsl(
    from var(--sc-color-text-primary) h s calc(l * 0.5)
  );
  --sc-content-disabled: var(--sc-color-disabled-text, #737373);
  --sc-content-disabled-on-disabled: var(--sc-color-disabled-text, #737373);
}

/**
 * Safari specific styles.
 * Safari requires `%` in hsl definitions.
 */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and
  (-webkit-appearance: none) {
  :root {
    /** ------------ NEUTRAL ------------- */

    // primary
    --sc-color-background-hover-computed: hsl(
      from var(--sc-color-background) h s clamp(10%, calc(l + 5%), 95%)
    );
    --sc-color-background-active-computed: hsl(
      from var(--sc-color-background) h s clamp(5%, calc(l - 5%), 90%)
    );

    // content
    --sc-color-foreground-secondary-computed: hsl(
      from var(--sc-color-foreground) h s clamp(10%, calc(l + 5%), 90%)
    );

    /** ------------ BRAND ------------- */
    // primary
    --sc-color-brand-hover-computed: hsl(
      from var(--sc-color-brand) h s clamp(20%, calc(l + 5%), 95%)
    );

    --sc-color-brand-active-computed: hsl(
      from var(--sc-color-brand) h s clamp(10%, calc(l - 5%), 85%)
    );

    /** ------------ SUCCESS ------------- */
    // primary
    --sc-color-success-primary-hover-computed: hsl(
      from var(--sc-color-success) h s 30%
    );

    --sc-color-success-primary-active-computed: hsl(
      from var(--sc-color-success) h s 20%
    );

    // secondary
    --sc-color-success-secondary-computed: hsl(
      from var(--sc-color-success) h s 90%
    );

    --sc-color-success-secondary-hover-computed: hsl(
      from var(--sc-color-success-secondary) h s 95%
    );

    --sc-color-success-secondary-active-computed: hsl(
      from var(--sc-color-success-secondary) h s 85%
    );

    // content
    --sc-content-success: var(
      --sc-color-brand-text,
      hsl(from var(--sc-surface-success-primary) h s 30%)
    );

    /** ------------ CAUTION ------------- */
    // primary
    --sc-color-caution-primary-hover-computed: hsl(
      from var(--sc-color-caution) h s 30%
    );

    --sc-color-caution-primary-active-computed: hsl(
      from var(--sc-color-caution) h s 20%
    );

    // secondary
    --sc-color-caution-secondary-computed: hsl(
      from var(--sc-color-caution) h s 90%
    );

    --sc-color-caution-secondary-hover-computed: hsl(
      from var(--sc-color-caution-secondary) h s 95%
    );

    --sc-color-caution-secondary-active-computed: hsl(
      from var(--sc-color-caution-secondary) h s 85%
    );

    // content
    --sc-content-caution: var(
      --sc-color-caution-text,
      hsl(from var(--sc-surface-caution-primary) h s 30%)
    );

    /** ------------ DANGER ------------- */
    // primary
    --sc-color-danger-primary-hover-computed: hsl(
      from var(--sc-color-danger) h s 30%
    );

    --sc-color-danger-primary-active-computed: hsl(
      from var(--sc-color-danger) h s 20%
    );

    // secondary
    --sc-color-danger-secondary-computed: hsl(
      from var(--sc-color-danger) h s 90%
    );

    --sc-color-danger-secondary-hover-computed: hsl(
      from var(--sc-color-danger-secondary) h s 95%
    );

    --sc-color-danger-secondary-active-computed: hsl(
      from var(--sc-color-danger-secondary) h s 85%
    );

    // content
    --sc-content-danger: var(
      --sc-color-caution-text,
      hsl(from var(--sc-surface-danger-primary) h s 30%)
    );
  }
}
