:root {
  --sc-text-base-size: 1em;
  --sc-text-scale-ratio: 1.1;
  --sc-font-family: sans-serif;
  --sc-font-bold: 700;
  --sc-font-normal: 400;

  // heading 1 - 32px
  --sc-heading-1-font-size: calc(
    var(--sc-text-base-size) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio)
  );

  // heading 2 - 29px
  --sc-heading-2-font-size: calc(
    var(--sc-text-base-size) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio)
  );

  // heading 3 - 26px
  --sc-heading-3-font-size: calc(
    var(--sc-text-base-size) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio)
  );

  // heading 4 - 23px
  --sc-heading-4-font-size: calc(
    var(--sc-text-base-size) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio)
  );

  // heading 5 - 20px
  --sc-heading-5-font-size: calc(
    var(--sc-text-base-size) * var(--sc-text-scale-ratio) *
      var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio)
  );

  // heading 6 - 10px
  --sc-heading-6-font-size: calc(
    var(--sc-text-base-size) /
      (
        var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
          var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio)
      )
  );

  // body - 16px
  --sc-body-font-size: calc(var(--sc-text-base-size));

  // body small - 12px
  --sc-body-small-font-size: calc(
    var(--sc-text-base-size) /
      (
        var(--sc-text-scale-ratio) * var(--sc-text-scale-ratio) *
          var(--sc-text-scale-ratio)
      )
  );
}

@mixin font-base {
  font-family: var(--sc-font-family);
  line-height: 1.25; // consistent for all variants
  -webkit-font-smoothing: antialiased;
}

@mixin heading-1 {
  @include font-base();
  font-size: var(--sc-heading-1-font-size);
  font-weight: var(--sc-font-bold);
}

@mixin heading-2 {
  @include font-base();
  font-size: var(--sc-heading-2-font-size);
  font-weight: var(--sc-font-bold);
}

@mixin heading-3 {
  @include font-base();
  font-size: var(--sc-heading-3-font-size);
  font-weight: var(--sc-font-bold);
}

@mixin heading-4 {
  @include font-base();
  font-size: var(--sc-heading-4-font-size);
  font-weight: var(--sc-font-bold);
}

@mixin heading-5 {
  @include font-base();
  font-size: var(--sc-heading-5-font-size);
  font-weight: var(--sc-font-bold);
}

@mixin heading-6 {
  @include font-base();
  font-size: var(--sc-heading-6-font-size);
  font-weight: var(--sc-font-bold);
}

@mixin body {
  @include font-base();
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-font-normal);
}

@mixin body-small {
  @include font-base();
  font-size: var(--sc-body-small-font-size);
  font-weight: var(--sc-font-normal);
}
