@import '../../utils/theme';

:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

@mixin button-base {
  border-radius: 8px;
  display: flex;
  font-family: var(--font-stack);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 11px 20px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.buttonLight {
  @include button-base;
  background-color: $light-background;
  border: 1px solid $light-button-border;
  color: $light-button-color;

  &:hover {
    background-color: $light-button-hover;
  }

  &:focus {
    outline: 2px solid $light-button-outline-focus;
  }
}

.buttonDark {
  @include button-base;
  background-color: $dark-background;
  border: 1px solid $dark-button-border;
  color: $dark-button-color;

  &:hover {
    background-color: $dark-button-hover;
  }

  &:focus {
    outline: 2px solid $dark-button-outline-focus;
  }
}

.spinnerMarginRight {
  left: 4px;
  margin-right: 4px;
  position: absolute;
}

.spinnerMarginLeft {
  left: 4px;
  margin-left: 4px;
  position: absolute;
}

.buttonLabel {
  animation: right-and-back .2s;
  margin-left: 4px;
  position: relative;
}

@keyframes right-and-back {
  0% { right: -6px; }
  50% { right: -12px; }
  75% { right: -6px; }
  100% {right: 0px; }
}