@import '../../utils/theme';

:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

@mixin button-base {
  border-radius: 8px;
  display: flex;
  font-family: var(--font-stack);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 11px 20px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.buttonLight {
  @include button-base;
  background-color: $surface-brand-primary;
  border: 1px solid $border-primary;
  color: $content-on-brand-primary;

  &:hover {
    background-color: $surface-brand-primary-hover;
  }

  &:focus {
    outline: 2px solid $surface-brand-primary;
  }
}

.buttonDark {
  @include button-base;
  background-color: $content-on-brand-primary;
  border: 1px solid $content-secondary;
  color: $content-primary;

  &:hover {
    background-color: $surface-primary-active;
  }

  &:focus {
    outline: 2px solid $content-secondary;
  }
}

.buttonLabel {
  position: relative;
}