searchcraft-input {
  display: flex;
  flex: 1;
}

.searchcraft-input-wrapper {
  display: inline-block;
  position: relative;
  cursor: text;
}

.searchcraft-input-wrapper-flex {
  display: flex;
  flex: 1;
}

.searchcraft-input-flex {
  flex: 1;
}

.searchcraft-input {
  @include body();
  background-color: var(--sc-surface-neutral-secondary);
  border: none;
  border-radius: var(--sc-input-border-radius);
  color: var(--sc-content-neutral-primary);
  outline: none;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 12px;
  padding-bottom: 12px;

  &::placeholder {
    color: var(--sc-content-disabled);
  }

  &:focus {
    outline: var(--sc-border-brand) solid 2px;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.searchcraft-input.error {
  color: var(--sc-content-danger);
  outline: var(--sc-border-danger) solid 2px;

  &:focus {
    outline: var(--sc-border-danger) solid 2px;
  }
}

.searchcraft-input-icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  top: 0;
}

.searchcraft-input-icon {
  pointer-events: none;
}

.searchcraft-input-clear-button {
  all: unset;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  border: none;
  outline: none;
  bottom: 0;
  right: 0;
  top: 0;
}
