@import '../../utils/theme';

:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

@mixin input-container-base {
  position: relative;
  width: 100%;
}

@mixin input-base {
  border: none;
  border-radius: 8px;
  font-family: var(--font-stack);
  outline: none;
  padding-bottom: 15px;
  padding-top: 15px;

  &::placeholder {
    font-family: var(--font-stack);
    font-size: 16px;
    font-weight: 400;
  }
}

@mixin input-base-light {
  @include input-base;
  background-color: $surface-secondary;
  color: $content-primary;

  &::placeholder {
    color: $content-disabled;
  }

  &:focus {
    outline: 2px solid $surface-brand-primary;
  }
}

@mixin input-base-dark {
  @include input-base;
  background-color: $surface-middle-active;
  color: $content-on-brand-primary;

  &::placeholder {
    color: $content-disabled-secondary;
  }

  &:focus {
    outline: 2px solid $content-on-brand-primary;
  }
}

@mixin input-error-base-light {
  @include input-base-light;
  outline: 2px solid $border-danger;

  &:focus-visible {
    outline: 2px solid $border-danger;
  }
}

@mixin input-error-base-dark {
  @include input-base-dark;
  outline: 2px solid $surface-danger-secondary-active;

  &:focus-visible {
    outline: 2px solid $surface-danger-secondary-active;
  }
}

.inputContainerLTR {
  @include input-container-base;
}

.inputContainerRTL {
  @include input-container-base;
  margin-left: 8px;
}

@mixin align-LTR {
  margin-right: 8px;
  padding-left: 36px;
  padding-right: 16px;
}

.inputLightLTR {
  @include input-base-light;
  @include align-LTR;
}

.inputDarkLTR {
  @include input-base-dark;
  @include align-LTR;
}

.inputErrorLightLTR {
  @include input-error-base-light;
  @include align-LTR;
}

.inputErrorDarkLTR {
  @include input-error-base-dark;
  @include align-LTR;
}

@mixin align-RTL {
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 36px;
  text-align: right;
}

.inputLightRTL {
  @include input-base-light;
  @include align-RTL;
}

.inputDarkRTL {
  @include input-base-dark;
  @include align-RTL;
}

.inputErrorLightRTL {
  @include input-error-base-light;
  @include align-RTL;
}

.inputErrorDarkRTL {
  @include input-error-base-dark;
  @include align-RTL;
}

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}
