.searchcraft-ad > a {
  align-items: flex-start;
  color: unset;
  display: flex;
  gap: 16px;
  text-decoration: none;
  width: 100%;
}

.ad {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}

.ad-body {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ad-title {
  font-size: 1.25rem;
  margin: 0;
}

.ad-subtitle {
  color: var(--sc-brand-secondary);
  font-size: 0.875rem;
  margin: 0;
  text-transform: uppercase;
}

.ad-footer {
  color: var(--sc-neutral-secondary);
  display: flex;
  font-size: 0.875rem;
  gap: 8px;
}

.ad-footer > * {
  margin: 0;
}

.ad-image {
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  width: 20%;
}

.ad-image > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.ad-sale-price {
  text-decoration: line-through;
}
