// searchcraft sdk variables

$light-background: #000;
$dark-background: #FFF;

$light-button-hover: #2E2E2E;
$dark-button-hover: #FAFAFA;

$light-button-border: #E6E6E6;
$dark-button-border: #404040;

$light-button-color: #FFF;
$dark-button-color: #292929;

$light-button-outline-focus: #000000;
$dark-button-outline-focus: #404040;

$light-input-caption-color: #404040;
$dark-input-caption-color: #E6E6E6;

$light-input-caption-color-error: #990000;
$dark-input-caption-color-error: #FFB3B3;

$light-input-label-color: #292929;
$dark-input-label-color: #FFF;

$light-input-background-color: #EDEDED;
$dark-input-background-color: #1A1A1A;

$light-input-placeholder-color: #737373;
$dark-input-placeholder-color: #BFBFBF;

$light-input-outline-focus: #000;
$dark-input-outline-focus: #FFF;

$light-input-error-outline: #c00;
$dark-input-error-outline: #FFB3B3;

$light-input-error-outline-focus: #c00;
$dark-input-error-outline-focus: #FFB3B3;

$light-search-result-container-background: #FAFAFA;
$dark-search-result-container-background: #2E2E2E;

$light-search-result-image-border: #D9D9D9;
$dark-search-result-image-border: #333;

$light-search-result-heading-color: #292929;
$dark-search-result-heading-color: #FFF;

$light-search-result-subheading-color: #737373;
$dark-search-result-subheading-color: #BFBFBF;

$light-search-result-body-content-color: #404040;
$dark-search-result-body-content-color: #E6E6E6;