@import 'utils/theme';

:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

@mixin input-caption-base {
  font-family: var(--font-stack);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}

@mixin input-caption-base-light {
  @include input-caption-base;
  color: $content-secondary;
}

@mixin input-caption-base-dark {
  @include input-caption-base;
  color: $border-primary;
}

.inputCaptionLightLTR {
  @include input-caption-base-light;
}

.inputCaptionDarkLTR {
  @include input-caption-base-dark;
}

.inputCaptionErrorLightLTR {
  @include input-caption-base;
  color: $content-danger;
}

.inputCaptionErrorDarkLTR {
  @include input-caption-base;
  color: $surface-danger-secondary-active;
}

.inputCaptionLightRTL {
  @include input-caption-base-light;
  text-align: right;
}

.inputCaptionDarkRTL {
  @include input-caption-base-dark;
  text-align: right;
}

.inputCaptionErrorLightRTL {
  @include input-caption-base;
  color: $content-danger;
  text-align: right;
}

.inputCaptionErrorDarkRTL {
  @include input-caption-base;
  color: $surface-danger-secondary-active;
  text-align: right;
}