:root {
  /** Appearance & Layout */
  --sc-spinner-size: 20px;

  --sc-input-border-radius: 8px;
  --sc-input-search-icon-size: 20px;
  --sc-input-clear-icon-size: 20px;
  --sc-input-padding-left: 44px;
  --sc-input-padding-right: 44px;

  --sc-image-border-radius: 8px;
}