:root {
  --sc-surface-disabled: #D9D9D9;
  --sc-surface-neutral-primary: #FFFFFF;
  --sc-surface-neutral-secondary: #F3F3F3;
  --sc-surface-neutral-light: #FFFFFF;
  --sc-surface-neutral-primary-hover: #FAFAFA;
  --sc-surface-neutral-primary-active: #F7F7F7;
  --sc-surface-neutral-secondary-hover: #EDEDED;
  --sc-surface-neutral-secondary-active: #E6E6E6;
  --sc-surface-brand-primary: #000000;
  --sc-surface-brand-secondary: #E6E6E6;
  --sc-surface-brand-primary-hover: #2E2E2E;
  --sc-surface-brand-primary-active: #292929;
  --sc-surface-brand-secondary-hover: #EBEBEB;
  --sc-surface-brand-secondary-active: #E0E0E0;
  --sc-surface-success-primary: #008000;
  --sc-surface-success-secondary: #CCFFCC;
  --sc-surface-success-primary-hover: #009900;
  --sc-surface-success-primary-active: #006600;
  --sc-surface-success-secondary-hover: #E6FFE6;
  --sc-surface-success-secondary-active: #E6FFE6;
  --sc-surface-caution-primary: #CC6600;
  --sc-surface-caution-secondary: #FFD9B3;
  --sc-surface-caution-primary-hover: #E57300;
  --sc-surface-caution-primary-active: #B25A00;
  --sc-surface-caution-secondary-hover: #FFE5CC;
  --sc-surface-caution-secondary-active: #FFCC99;
  --sc-surface-danger-primary: #CC0000;
  --sc-surface-danger-secondary: #FFCCCC;
  --sc-surface-danger-primary-hover: #E50000;
  --sc-surface-danger-primary-active: #B30000;
  --sc-surface-danger-secondary-hover: #FFE7E7;
  --sc-surface-danger-secondary-active: #FFB3B3;
  --sc-content-brand: #000000;
  --sc-content-success: #008000;
  --sc-content-caution: #994D00;
  --sc-content-danger: #990000;
  --sc-content-disabled: #737373;
  --sc-content-neutral-primary: #292929;
  --sc-content-neutral-secondary: #404040;
  --sc-content-brand-on-primary: #FFFFFF;
  --sc-content-success-on-primary: #FFFFFF;
  --sc-content-caution-on-primary: #FFFFFF;
  --sc-content-danger-on-primary: #FFFFFF;
  --sc-content-disabled-on-disabled: #737373;
  --sc-border-neutral: rgba(0,0,0, 0.1);
  --sc-border-brand: #000000;
  --sc-border-success: #008000;
  --sc-border-caution: #CC6600;
  --sc-border-danger: #CC0000;
  --sc-border-disabled: #737373;
}

// @media (prefers-color-scheme: dark) {
//   /* Dark mode variables */
//   :root {
//     --sc-surface-disabled: #737373;
//     --sc-surface-neutral-primary: #242424;
//     --sc-surface-neutral-secondary: #1A1A1A;
//     --sc-surface-neutral-light: #FFFFFF;
//     --sc-surface-neutral-primary-hover: #2E2E2E;
//     --sc-surface-neutral-primary-active: #292929;
//     --sc-surface-neutral-secondary-hover: #1F1F1F;
//     --sc-surface-neutral-secondary-active: #1C1C1C;
//     --sc-surface-brand-primary: #FFFFFF;
//     --sc-surface-brand-secondary: #4D4D4D;
//     --sc-surface-brand-primary-hover: #FAFAFA;
//     --sc-surface-brand-primary-active: #F7F7F7;
//     --sc-surface-brand-secondary-hover: #595959;
//     --sc-surface-brand-secondary-active: #404040;
//     --sc-surface-success-primary: #008000;
//     --sc-surface-success-secondary: #265926;
//     --sc-surface-success-primary-hover: #009900;
//     --sc-surface-success-primary-active: #006600;
//     --sc-surface-success-secondary-hover: #2E6B2E;
//     --sc-surface-success-secondary-active: #1F471F;
//     --sc-surface-caution-primary: #CC6600;
//     --sc-surface-caution-secondary: #604020;
//     --sc-surface-caution-primary-hover: #E57300;
//     --sc-surface-caution-primary-active: #B25A00;
//     --sc-surface-caution-secondary-hover: #734D26;
//     --sc-surface-caution-secondary-active: #4D331A;
//     --sc-surface-danger-primary: #CC0000;
//     --sc-surface-danger-secondary: #602020;
//     --sc-surface-danger-primary-hover: #E50000;
//     --sc-surface-danger-primary-active: #B30000;
//     --sc-surface-danger-secondary-hover: #732626;
//     --sc-surface-danger-secondary-active: #4D1A1A;
//     --sc-content-brand: #FFFFFF;
//     --sc-content-success: #99FF99;
//     --sc-content-caution: #FFCC99;
//     --sc-content-danger: #FFB3B3;
//     --sc-content-disabled: #BFBFBF;
//     --sc-content-neutral-primary: #FFFFFF;
//     --sc-content-neutral-secondary: #E6E6E6;
//     --sc-content-brand-on-primary: #292929;
//     --sc-content-success-on-primary: #FFFFFF;
//     --sc-content-caution-on-primary: #FFFFFF;
//     --sc-content-danger-on-primary: #FFFFFF;
//     --sc-content-disabled-on-disabled: #D9D9D9;
//     --sc-border-neutral: rgba(255,255,255, 0.1);
//     --sc-border-brand: #FFFFFF;
//     --sc-border-success: #99FF99;
//     --sc-border-caution: #FFCC99;
//     --sc-border-danger: #FFB3B3;
//     --sc-border-disabled: #BFBFBF;
//   }
// }