:root {
  /** Theme colors */
  --sc-surface-brand-primary: #000000;
  --sc-surface-brand-primary-hover: #2E2E2E;
  --sc-surface-brand-secondary-active: #E0E0E0;
  --sc-surface-brand-secondary-hover: #EBEBEB;
  --sc-surface-danger-secondary-active: #FFB3B3;
  --sc-surface-disabled: #D9D9D9;
  --sc-surface-middle-active: #1A1A1A;
  --sc-surface-primary-active: #F7F7F7;
  --sc-surface-secondary: #F3F3F3;
  --sc-surface-success-secondary: #404040;
  --sc-content-danger: #990000;
  --sc-content-disabled: #737373;
  --sc-content-disabled-secondary: #BFBFBF;
  --sc-content-on-brand-primary: #FFFFFF;
  --sc-content-primary: #292929;
  --sc-content-secondary: #404040;
  --sc-border-danger: #CC0000;
  --sc-border-primary: #E6E6E6;
  --sc-border-secondary: #333333;
}