.filtersList {
  width: 100%;
}

.checkboxLabel {
  align-items: center;
  color: #292929;
  display: flex;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  gap: 14px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.checkboxLabel input[type="checkbox"] {
  align-items: center;
  appearance: none;
  background-color: #EDEDED;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.checkboxLabel input[type="checkbox"]:checked {
  background-color: #000;
  position: relative;
}

.checkboxLabel input[type="checkbox"]:checked + .checkContainer {
  display: block;
}

.checkboxLabel input[type="checkbox"]:checked + .dashContainer {
  display: block;
}

.remainingFilterListCheckbox {
  margin-left: 16px;
}

.childCheckboxLabel {
  align-items: center;
  color: #292929;
  display: flex;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  gap: 12px;
  position: relative;
}

.childCheckboxLabel input[type="checkbox"] {
  align-items: center;
  appearance: none;
  background-color: #EDEDED;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: relative;
  width: 24px;
  -webkit-font-smoothing: antialiased;
}

.childCheckboxLabel input[type="checkbox"]:checked {
  background-color: #000;
  position: relative;
}

.childCheckboxLabel input[type="checkbox"]:checked + .checkContainer {
  display: block;
}

.childCheckboxLabel input[type="checkbox"]:checked + .dashContainer {
  display: block;
}

.checkContainer {
  display: none;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 10px;
  left: 7px;
}

.dashContainer {
  display: none;
  height: 3px;
  width: 14px;
  position: absolute;
  top: 5px;
  left: 9px;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px;
}