.sliderContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.rangeContainer {
  align-items: center;
  background-color: $surface-disabled;
  border-radius: 999px;
  display: flex;
  position: relative;
  height: 4px;
  width: 100%;

  &::-webkit-slider-runnable-track {
    pointer-events: none;
   }

  .activeRange {
    background-color: $surface-brand-primary;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    &::-webkit-slider-runnable-track {
      pointer-events: none;
     }

     &::-moz-range-track {
      pointer-events: none;
     }
  }

  .rangeSlider {
    appearance: none;
    background: transparent;
    border-radius: 2px;
    height: 4px;
    margin: 0;
    outline: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      background-color: $content-on-brand-primary;
      border-radius: 50%;
      border: 2px solid $border-primary;
      cursor: pointer;
      height: 20px;
      pointer-events: all;
      width: 20px;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      background-color: $content-on-brand-primary;
      border-radius: 50%;
      border: 2px solid $border-primary;
      cursor: pointer;
      height: 20px;
      pointer-events: all;
      width: 20px;
    }
  }
}

.yearLabels {
  color: $content-primary;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.yearLabel {
  min-width: 30px;
  text-align: center;
}