.sliderContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}

.sliders {
  height: 40px;
  position: relative;
  width: 100%;

  .activeRange {
    background: $surface-brand-primary;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
}

.sliderPrimary {
  appearance: none;
  background: none;
  pointer-events: none;
  position: absolute;
  top: 10px;
  width: 50%;
  -webkit-appearance: none;
}

.sliderSecondary {
  appearance: none;
  background: none;
  position: absolute;
  left: 50%;
  pointer-events: none;
  top: 10px;
  width: 50%;
  -webkit-appearance: none;
}

.startSlider {
  background: transparent;
  pointer-events: auto;
}

.endSlider {
  background: transparent;
  pointer-events: auto;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: $content-on-brand-primary;
  border: 2px solid $border-primary;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  pointer-events: auto;
  width: 16px;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  background-color: $content-on-brand-primary;
  border: 2px solid $border-primary;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.slider-labels {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 100%;
}

.yearLabelContainer {
  color: $content-primary;
  display: flex;
  font-family: var(--font-stack);
  font-size: 15px;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.yearLabel {
  min-width: 30px;
  text-align: center;
}