.searchcraft-search-result > a {
  align-items: flex-start;
  color: unset;
  display: flex;
  gap: 16px;
  text-decoration: none;
}

.search-result {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-result-body {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.search-result-title {
  font-size: 1.25rem;
  margin: 0;
}

.search-result-subtitle {
  color: var(--sc-brand-secondary);
  font-size: 0.875rem;
  margin: 0;
  text-transform: uppercase;
}

.search-result-footer {
  color: var(--sc-neutral-secondary);
  display: flex;
  font-size: 0.875rem;
  gap: 12px;
}

.search-result-footer > * {
  margin: 0;
}

.search-result-image {
  height: auto;
  width: 20%;
}
