.searchcraft-search-result > a {
  align-items: flex-start;
  color: unset;
  display: flex;
  gap: 16px;
  text-decoration: none;
}

.search-result-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-result-content-body {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.search-result-content-title {
  font-size: 1.25rem;
  margin: 0;
}

.search-result-content-subtitle {
  color: var(--sc-brand-secondary);
  font-size: 0.875rem;
  margin: 0;
  text-transform: uppercase;
}

.search-result-content-footer {
  color: var(--sc-neutral-secondary);
  display: flex;
  font-size: 0.875rem;
  gap: 12px;
}

.search-result-content-footer > * {
  margin: 0;
}

.search-result-image {
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  width: 20%;
}

.search-result-image > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.search-result-source-index {
  font-weight: 800;
}
