:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

.inputClearButtonLTR {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 25px;
  top: 11px;
  width: 20px;
}

.inputClearButtonRTL {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 25px;
  padding: 0;
  position: absolute;
  top: 11px;
  width: 20px;
}