@mixin interactive-result-container-base {
  align-items: flex-start;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  position: relative;

  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.interactiveResultContainerLight {
  @include interactive-result-container-base;
  background-color: var(--sc-surface-primary-active);
}

.interactiveResultContainerDark {
  @include interactive-result-container-base;
  background-color: var(--sc-surface-brand-primary-hover);
}

.resultContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  all: unset;
  display: inline;
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.interactiveIconLarge {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 8px;


  @media (max-width: 900px) {
    display: none;
  }
}

.interactiveIconSmall {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: -2px;


  @media (min-width: 900px) {
   display: none;
  }
}

.imageContainer {
  max-width: 100%;

  @media (min-width: 900px) {
    max-width: 400px;
   }
}

.contentContainer {
  max-height: 100%;
  max-width: 100%;

  @media (min-width: 900px) {
    max-width: 50%;
  }
}

.secondaryContentContainer {
  display: flex;

}

@mixin image-base {
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

.imageLight {
  @include image-base;
}

.imageDark {
  @include image-base;

}

@mixin title-base {
  font-family: var(--sc-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.titleLight {
  @include title-base;
  color: var(--sc-content-primary);
}

.titleDark {
  @include title-base;
  color: var(--sc-content-on-brand-primary);
}

@mixin subtitle-base {
  font-family: var(--sc-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
}

.subtitleContentLight {
  @include subtitle-base;
  color: var(--sc-content-disabled);
}

.subtitleContentDark {
  @include subtitle-base;
  color: var(--sc-content-disabled-secondary);
}

@mixin body-content-base {
  font-family: var(--sc-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
}

.primaryContentLight {
  @include body-content-base;
  color: var(--sc-surface-success-secondary);
}

.primaryContentDark {
  @include body-content-base;
  color: var(--sc-border-primary);
}

.secondaryContentLight {
  @include body-content-base;
  color: var(--sc-surface-success-secondary);
}

.secondaryContentDark {
  @include body-content-base;
  color: var(--sc-border-primary);
}

.tertiaryContentLight {
  @include body-content-base;
  color: var(--sc-surface-success-secondary);
}

.tertiaryContentLight.hasContent::before {
  color: var(--sc-surface-success-secondary);
  content: "•";
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.tertiaryContentDark {
  @include body-content-base;
  color: var(--sc-border-primary);
}

.tertiaryContentDark.hasContent::before {
  color: var(--sc-surface-success-secondary);
  content: "•";
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}