@import '../../utils/theme';

:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

@mixin interactive-result-container-base {
  align-items: flex-start;
  border-radius: 16px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 16px;
  padding: 8px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.interactiveResultContainerLight {
  background-color: $light-search-result-container-background;
  @include interactive-result-container-base;
}

.interactiveResultContainerDark {
  background-color: $dark-search-result-container-background;
  @include interactive-result-container-base;
}

.resultContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.interactiveIconLarge {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 8px;


  @media (max-width: 600px) {
   display: none;
  }
}

.interactiveIconSmall {
  position: absolute;
  right: 5px;
  top: -2px;
  display: inline-block;


  @media (min-width: 600px) {
   display: none;
  }
}

.imageContainer {
  max-height: 540px;
  max-width: 100%;

  @media (min-width: 600px) {
    max-height: 100%;
    max-width: 50%;
  }
}

.contentContainer {
  max-height: 100%;
  max-width: 100%;

  @media (min-width: 600px) {
    max-width: 50%;
  }
}

@mixin image-base {
  aspect-ratio: 2 / 1;
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

.imageLight {
  @include image-base;
  border: 1px solid $light-search-result-image-border;
}

.imageDark {
  @include image-base;
  border: 1px solid $dark-search-result-image-border;
}

@mixin heading-base {
  font-family: var(--font-stack);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0px;
  position: relative;
}

.headingLight {
  @include heading-base;
  color: $light-search-result-heading-color;
}

.headingDark {
  @include heading-base;
  color: $dark-search-result-heading-color;
}

@mixin subheading-base {
  font-family: var(--font-stack);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 0px;
}

.subheadingLight {
  @include subheading-base;
  color: $light-search-result-subheading-color;
}

.subheadingDark {
  @include subheading-base;
  color: $dark-search-result-subheading-color
}

@mixin body-content-base {
  font-family: var(--font-stack);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0px;
}

.bodyContentLight {
  @include body-content-base;
  color: $light-search-result-body-content-color;
}

.bodyContentDark {
  @include body-content-base;
  color: $dark-search-result-body-content-color;
}