.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;

  & > p {
    align-self: center;
  }

  & > div {
    margin-bottom: 20px;
    img {
      height: 300px;
      width: 200px;
    }
  }
}

.adSection {
  align-items: center;
  background-color: #F1F1F1;
  border: 1px solid #DCDDDE;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  min-height: 150px;
  text-align: center;

  margin-left: 8px;
  margin-right: 8px;

  p {
    margin-top: 5px;
  }
}

.emptyState {
  text-align: center;
  width: 100%;
}

.errorMessageContainer {
  text-align: center;
}
