@use "../breakpoints.scss";
@use "../typography.scss";

:root {
  /**
   * Border radius applied to result images.
   */
  --sc-image-border-radius: var(--sc-border-radius);
}

.searchcraft-search-result-container {
  all: unset;
  align-items: flex-start;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  color: inherit;

  background-color: var(--sc-surface-neutral-primary);

  @media (min-width: breakpoints.$breakpoint-md) {
    flex-direction: row;
  }
}

a.searchcraft-search-result-container {
  cursor: pointer;
  transition: background-color 100ms;
}

.searchcraft-base-search-result-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchcraft-search-result-image {
  border-radius: var(--sc-image-border-radius);
  width: 100%;

  @media (min-width: breakpoints.$breakpoint-md) {
    width: 200px;
  }
}

.searchcraft-base-search-result-title {
  @include typography.body();
  color: var(--sc-content-neutral-primary);
  font-weight: var(--sc-font-bold);
  margin: 0;
}

.searchcraft-base-search-result-subtitle {
  @include typography.body-small();
  color: var(--sc-content-disabled);
  margin: 0;
}

.searchcraft-base-search-result-body-content {
  @include typography.body();
  color: var(--sc-content-neutral-secondary);
  margin: 0;
}

.searchcraft-base-search-result-footer-content {
  @include typography.body();
  color: var(--sc-content-disabled);
  margin: 0;
}
