@use "../typography.scss";
@use "../breakpoints.scss";
@use "../appearance.scss";

:root {
  /**
   * Height of the list view/results container portion of the popover form.
   */
  --sc-popover-list-view-height: 600px;
  /**
   * Maximum width of popover forms of type `modal`.
   */
  --sc-popover-modal-max-width: 800px;
}

/**
 * Styles applied to all popover form variants.
 */
.searchcraft-popover-form {
  @include typography.body();
  display: flex;
  flex: 1;
  flex-direction: column;

  & searchcraft-input-form,
  & searchcraft-popover-footer {
    width: 100%;
  }

  &.searchcraft-popover-form-active {
    & .searchcraft-popover-form-input {
      padding-bottom: 1px;
    }
  }

  & searchcraft-popover-list-view {
    flex-shrink: 1;
    height: 100%;
    min-height: 0;
    overflow: auto;
    padding: 0 24px;
  }
}

.searchcraft-popover-form-input {
  display: flex;
  flex-direction: row;
  gap: 12px;

  & .searchcraft-input-form-input {
    background-color: var(--sc-surface-neutral-primary);
    border: 1px solid var(--sc-border-neutral);
    border-radius: var(--sc-border-radius-lg);
    box-shadow:
      0 1px 1px rgb(from var(--sc-content-neutral-primary) r g b / 10%) inset,
      0 2px 2px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset,
      0 4px 4px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset;
    width: 0;
  }
}

.searchcraft-popover-form-input-cancel-button {
  background: none;
  border: none;
  cursor: pointer;
}

/**
 * Styles shared by multiple types.
 */

.searchcraft-popover-form-modal-input,
.searchcraft-popover-form-fullscreen-input {
  padding: 24px;
}

/**
 * Styles applied to `inline` popover forms.
 */
.searchcraft-popover-form-inline {
  background-color: var(--sc-surface-neutral-primary);
  border: 1px solid transparent;
  border-radius: var(--sc-border-radius-xl);
  padding: 12px;
  position: relative;

  &.searchcraft-popover-form-active {
    border: 1px solid var(--sc-border-neutral);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 1px;
  }

  & searchcraft-popover-list-view {
    padding: 0 12px;
  }

  & .searchcraft-input-form-input,
  & .searchcraft-popover-list-item-link,
  & .searchcraft-adm-ad-link {
    @include appearance.offset-border-radius(--sc-border-radius-xl, -12px);
  }
}

.searchcraft-popover-form-inline-wrapper {
  background-color: var(--sc-surface-neutral-primary);
  border: 1px solid var(--sc-border-neutral);
  border-top: none;
  border-bottom-left-radius: var(--sc-border-radius-xl);
  border-bottom-right-radius: var(--sc-border-radius-xl);
  display: flex;
  flex-direction: column;
  left: -1px;
  max-height: var(--sc-popover-list-view-height);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: 100%;
}

/**
 * Styles applied to `modal` popover forms.
 */
.searchcraft-popover-form-modal {
  align-items: center;
  display: flex;
  inset: 0;
  position: fixed;
  z-index: 1000;

  & searchcraft-popover-list-view {
    flex-shrink: 1;
    min-height: 0;
    overflow: auto;
    padding: 0 24px;
  }

  & .searchcraft-input-form-input,
  & .searchcraft-popover-list-item-link,
  & .searchcraft-adm-ad-link {
    @include appearance.offset-border-radius(--sc-border-radius-2xl, -20px);
  }
}

.searchcraft-popover-form-modal-backdrop {
  background-color: rgb(from var(--sc-content-neutral-primary) r g b / 50%);
  display: none;
  inset: 0;
  position: fixed;

  @media (min-width: breakpoints.$breakpoint-sm) {
    display: block;
  }
}

.searchcraft-popover-form-modal-wrapper {
  background-color: var(--sc-surface-neutral-primary);
  border-radius: var(--sc-border-radius-2xl);
  box-shadow:
    1px 2px rgb(from var(--sc-content-neutral-primary) r g b / 7%),
    0 2px 4px rgb(from var(--sc-content-neutral-primary) r g b / 7%),
    0 4px 8px rgb(from var(--sc-content-neutral-primary) r g b / 7%),
    0 8px 16px rgb(from var(--sc-content-neutral-primary) r g b / 7%),
    0 16px 32px rgb(from var(--sc-content-neutral-primary) r g b / 7%),
    0 32px 64px rgb(from var(--sc-content-neutral-primary) r g b / 7%);
  display: flex;
  flex-direction: column;
  inset: 0;
  max-width: var(--sc-popover-modal-max-width);
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1001;

  @media (min-width: breakpoints.$breakpoint-sm) {
    inset: 0;
    margin-top: 100px;
    max-height: var(--sc-popover-list-view-height);
    max-width: var(--sc-popover-modal-max-width);
    position: relative;
  }
}

.searchcraft-popover-form-modal-input-cancel-button {
  @include appearance.offset-border-radius(--sc-border-radius-2xl, -20px);
  padding: 8px 12px;
}

/**
 * Styles applied to `fullscreen` popover forms.
 */
.searchcraft-popover-form-fullscreen {
  background-color: var(--sc-surface-neutral-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inset: 0;
  position: fixed;
  z-index: 1000;

  & .searchcraft-popover-list-item-link,
  & .searchcraft-adm-ad-link {
    border-radius: var(--sc-border-radius-lg);
  }
}

.searchcraft-popover-form-fullscreen-input-cancel-button {
  border-radius: var(--sc-border-radius-lg);
}
