@use "../typography.scss";

.searchcraft-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 4px;
}

.searchcraft-slider-range {
  align-items: center;
  background-color: var(--sc-surface-disabled);
  border-radius: 999px;
  display: flex;
  position: relative;
  height: 4px;
  width: 100%;

  &::-webkit-slider-runnable-track {
    pointer-events: none;
  }

  .searchcraft-slider-active-range {
    background-color: var(--sc-surface-brand-primary);
    border-radius: 2px;
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    &::-webkit-slider-runnable-track {
      pointer-events: none;
    }

    &::-moz-range-track {
      pointer-events: none;
    }
  }

  .searchcraft-slider-input {
    appearance: none;
    background: transparent;
    border-radius: 2px;
    height: 4px;
    margin: 0;
    outline: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      background-color: var(--sc-surface-neutral-light);
      border-radius: 50%;
      border: 1px solid var(--sc-border-neutral);
      cursor: pointer;
      height: 18px;
      pointer-events: all;
      width: 18px;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      background-color: var(--sc-surface-neutral-light);
      border-radius: 50%;
      border: 1px solid var(--sc-border-neutral);
      cursor: pointer;
      height: 18px;
      pointer-events: all;
      width: 18px;
    }

    &:focus::-webkit-slider-thumb {
      outline: 2px solid var(--sc-surface-brand-primary);
    }

    &:focus::-moz-range-thumb {
      outline: 2px solid var(--sc-surface-brand-primary);
    }
  }
}

.searchcraft-slider-label {
  color: var(--sc-content-primary);
  display: flex;
  @include typography.body-small();
  justify-content: space-between;
  margin-top: 4px;
  width: 100%;
}

.searchcraft-slider-start-label,
.searchcraft-slider-end-label {
  min-width: 30px;
  text-align: center;
}
