@use "../typography.scss";

.searchcraft-toggle-button {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.searchcraft-toggle-button-label {
  @include typography.body();
  color: var(--sc-content-neutral-primary);
  margin: 0;
}

.searchcraft-toggle-button-sub-label {
  @include typography.body-small();
  color: var(--sc-content-neutral-secondary);
  margin: 0;
}

.searchcraft-toggle-button-background {
  background: var(--sc-surface-disabled);
  border-radius: var(--sc-border-radius-full);
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 26px;
  position: relative;
  transition: background-color 0.2s;
  width: 44px;
}

.searchcraft-toggle-button-handle {
  background: var(--sc-surface-neutral-light);
  border-radius: 50%;
  height: 18px;
  left: 4px;
  position: absolute;
  top: calc(50% - 18px / 2);
  transition: transform 0.3s ease;
  width: 18px;
}

.searchcraft-toggle-button-active {
  & .searchcraft-toggle-button-background {
    background: var(--sc-surface-brand-primary);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  }

  & .searchcraft-toggle-button-handle {
    transform: translateX(16px);
  }
}
