@use "../typography.scss";
@use "../breakpoints.scss";
@use "../appearance.scss";

.searchcraft-popover-footer {
  @include typography.font-base();
  background-color: var(--sc-surface-neutral-secondary);
  box-shadow:
    0 1px 1px rgb(from var(--sc-content-neutral-primary) r g b / 10%) inset,
    0 2px 2px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset,
    0 4px 4px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  line-height: 1;
  padding: 20px 24px;

  @media (min-width: breakpoints.$breakpoint-sm) {
    padding: 20px 32px;
  }
}

.searchcraft-popover-footer-results-info {
  margin: 0;
}

.searchcraft-popover-footer-link {
  align-items: center;
  color: var(--sc-content-neutral-primary);
  display: flex;
  max-width: 160px;
  padding-top: 6px;
  width: 100%;
}

.searchcraft-popover-footer-results {
  align-items: center;
  display: flex;
  gap: 8px;
}

.searchcraft-popover-footer-view-all {
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--sc-border-neutral-strong);
  color: var(--sc-content-neutral-primary);
  display: inline-flex;
  font-size: var(--sc-body-font-size);
  font-weight: var(--sc-font-bold);
  gap: 6px;
  line-height: 1;
  padding: 6px 10px;
  text-decoration: none;
}

.searchcraft-popover-footer-view-all-shortcut {
  display: inline-flex;
  gap: 2px;

  kbd {
    background-color: var(--sc-surface-neutral-primary);
    border-radius: 4px;
    border: 1px solid var(--sc-border-neutral-subtle);

    line-height: 1;
    padding: 1px 4px;
  }
}
