@use "../typography.scss";

:root {
  /**
   * Border radius of the input form element.
   */
  --sc-input-form-border-radius: var(--sc-border-radius);
  /**
   * Icon size of the "magnifying glass" icon rendered in the input form.
   */
  --sc-input-form-search-icon-size: 20px;
  /**
   * Icon size of the `x` button rendered in the input form.
   */
  --sc-input-form-clear-icon-size: 20px;
}

.searchcraft-input-form-grid {
  display: grid;
  gap: 4px 8px;
}

.searchcraft-input-form-grid-button-left {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto 1fr;

  & .searchcraft-input-form-button {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  & .searchcraft-input-form-label {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  & .searchcraft-input-form-error-message {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  & .searchcraft-input-form-input-wrapper {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}

.searchcraft-input-form-grid-button-right {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr auto;

  & .searchcraft-input-form-button {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  & .searchcraft-input-form-label {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  & .searchcraft-input-form-error-message {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  & .searchcraft-input-form-input-wrapper {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

.searchcraft-input-form-grid-button-none {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;

  & .searchcraft-input-form-button {
    display: none;
  }

  & .searchcraft-input-form-label {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  & .searchcraft-input-form-error-message {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  & .searchcraft-input-form-input-wrapper {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

.searchcraft-input-form-input-wrapper {
  display: flex;
  position: relative;
}

.searchcraft-input-form-input {
  @include typography.body();
  background-color: var(--sc-surface-neutral-secondary);
  border-radius: var(--sc-input-form-border-radius);
  border: none;
  color: var(--sc-content-neutral-primary);
  flex: 1;
  outline: none;
  padding: 12px 44px;

  &::placeholder {
    color: var(--sc-content-disabled);
  }

  &:focus {
    outline: var(--sc-border-brand) solid 2px;
    outline-offset: -1px;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.searchcraft-input-form-error {
  color: var(--sc-content-danger);
  outline: var(--sc-border-danger) solid 2px;

  &:focus {
    outline: var(--sc-border-danger) solid 2px;
  }
}

.searchcraft-input-form-input-icon {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 44px;
}

.searchcraft-input-form-input-search-icon {
  color: var(--sc-content-neutral-secondary);
  fill: none;
  height: var(--sc-input-form-search-icon-size);
  pointer-events: none;
  width: var(--sc-input-form-search-icon-size);
}

.searchcraft-input-form-clear-button {
  all: unset;
  align-items: center;
  bottom: 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}

.searchcraft-input-form-clear-icon {
  color: var(--sc-content-brand);
  fill: none;
  height: var(--sc-input-form-clear-icon-size);
  width: var(--sc-input-form-clear-icon-size);
}
