@use "../typography.scss";

.searchcraft-button {
  @include typography.body-bold;

  border-radius: 8px;
  display: flex;
  padding: 12px 20px;
  position: relative;

  background-color: var(--sc-surface-brand-primary);
  border: 1px solid var(--sc-border-primary);
  color: var(--sc-content-brand-on-primary);

  &:hover {
    cursor: pointer;
    background-color: var(--sc-surface-brand-primary-hover);
  }

  &:focus {
    outline: 2px solid var(--sc-surface-brand-primary);
  }
}

.buttonLabel {
  position: relative;
}