@use "../typography.scss";

.searchcraft-popover-list-item {
  all: unset;
  color: var(--sc-content-neutral-secondary);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 8px;
  padding-right: var(--sc-popover-list-item-padding-horizontal);
  padding-left: var(--sc-popover-list-item-padding-horizontal);
  padding-top: var(--sc-popover-list-item-padding-vertical);
  padding-bottom: var(--sc-popover-list-item-padding-vertical);

  &:focus {
    background-color: var(--sc-surface-neutral-secondary-active);
    color: var(--sc-content-neutral-secondary);
  }

  &:hover {
    background-color: var(--sc-surface-neutral-secondary-hover);
    color: var(--sc-content-neutral-secondary);
  }
}

.searchcraft-popover-list-item-title {
  @include typography.body();
  margin: 0;
  color: inherit;
}

.searchcraft-popover-list-item-subtitle {
  @include typography.body-small();
  margin: 0;
  color: inherit;
}

.searchcraft-popover-list-item-image-wrapper {
  width: var(--sc-popover-list-item-image-size);
  height: var(--sc-popover-list-item-image-size);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.searchcraft-popover-list-item-image {
  max-width: var(--sc-popover-list-item-image-size);
  max-height: var(--sc-popover-list-item-image-size);
}

.searchcraft-popover-list-item-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
