@use "../typography.scss";

.searchcraft-ad {
  @include typography.font-base();
}

.searchcraft-ad-no-template {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;

  & > p {
    margin: 0;
  }
}

.searchcraft-adm-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
