@use "../typography.scss";
@use "../breakpoints.scss";
@use "../appearance.scss";

:root {
  /**
   * Border radius applied to popover form containers.
   */
  --sc-popover-form-border-radius: var(--sc-border-radius);
  /**
   * Height of the list view/results container portion of the popover form.
   */
  --sc-popover-list-view-height: 400px;
  /**
   * Size of images of list view items in the popover list view.
   */
  --sc-popover-list-item-image-size: 60px;
  /**
   * Horizontal padding of popover list items.
   */
  --sc-popover-list-item-padding-horizontal: 8px;
  /**
   * Vertical padding of popover list items.
   */
  --sc-popover-list-item-padding-vertical: 8px;
  /**
   * Maximum width of popover forms of type `modal`.
   */
  --sc-popover-modal-max-width: 570px;
}

/**
 * Styles applied to all popover form variants.
 */
.searchcraft-popover-form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.searchcraft-popover-form-input-wrapper {
  background-color: var(--sc-surface-neutral-secondary);
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 12px;
}

.searchcraft-popover-form-input-wrapper > searchcraft-input-form {
  flex: 1;
}

.searchcraft-popover-form-button {
  @include typography.body();
  border: 0;
  border-radius: var(--sc-popover-form-border-radius);
  background: none;
  cursor: pointer;
  flex-shrink: 0;
  outline: 0;
  padding: 0 12px;

  &:hover {
    background-color: var(--sc-surface-brand-secondary-hover);
  }

  &:focus {
    background-color: var(--sc-surface-brand-secondary-active);
  }
}

/**
 * Styles applied to `inline` popover forms.
 */
.searchcraft-popover-form-inline .searchcraft-input-form-input {
  border-top-left-radius: var(--sc-popover-form-border-radius);
  border-bottom-left-radius: var(--sc-popover-form-border-radius);
  border-bottom-right-radius: var(--sc-popover-form-border-radius);
  border-top-right-radius: var(--sc-popover-form-border-radius);
  border: none;
  outline: none;
}

.searchcraft-popover-form-inline.searchcraft-popover-form-active
  .searchcraft-input-form-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--sc-popover-form-border-radius);
  border-top-right-radius: var(--sc-popover-form-border-radius);
}

.searchcraft-popover-form-inline-wrapper-outer {
  position: relative;
}

.searchcraft-popover-form-inline-wrapper-inner {
  height: var(--sc-popover-list-view-height);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.searchcraft-popover-form-inline .searchcraft-popover-list-view {
  background-color: var(--sc-surface-neutral-secondary);
  border-bottom-left-radius: var(--sc-popover-form-border-radius);
  border-bottom-right-radius: var(--sc-popover-form-border-radius);
  display: flex;
  flex-direction: column;
  max-height: var(--sc-popover-list-view-height);
  overflow: auto;
}

/**
 * Styles applied to `modal` popover forms.
 */
.searchcraft-popover-form-modal {
  --sc-popover0-form-border-radius: var(--sc-border-radius-lg);
  align-items: flex-start;
  background-color: var(--sc-surface-neutral-secondary);
  display: flex;
  inset: 0;
  justify-content: center;
  padding: 0;
  position: fixed;
  z-index: 1000;

  @media (min-width: breakpoints.$breakpoint-sm) {
    background-color: transparent;
    padding: 16px;
  }

  & .searchcraft-popover-list-view {
    background-color: var(--sc-surface-neutral-secondary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;

    @media (min-width: breakpoints.$breakpoint-sm) {
      max-height: var(--sc-popover-list-view-height);
    }
  }

  & .searchcraft-popover-list-view {
    overflow: scroll;

    @media (min-width: breakpoints.$breakpoint-sm) {
      overflow: auto;
    }
  }
}

.searchcraft-popover-form-modal {
  @include appearance.offset-border-radius(
    --sc-popover-form-border-radius,
    -12px
  );
  outline-width: 1px;
  outline-color: var(--sc-border-neutral);
}

.searchcraft-popover-form-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  inset: 0;
  position: absolute;

  @media (min-width: breakpoints.$breakpoint-sm) {
    display: block;
  }
}

.searchcraft-popover-form-modal-inner {
  border-radius: var(--sc-popover-form-border-radius);
  display: flex;
  inset: 0;
  margin-top: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 1002;

  @media (min-width: breakpoints.$breakpoint-sm) {
    inset: auto;
    margin-top: 100px;
    max-width: var(--sc-popover-modal-max-width);
    position: relative;
    width: 100%;
  }
}

.searchcraft-popover-form-modal-input-wrapper .searchcraft-input-form-input {
  @include appearance.offset-border-radius(
    --sc-popover-form-border-radius,
    -12px
  );
  border: 1px solid var(--sc-border-neutral);
}

.searchcraft-popover-form-modal-button {
  @include appearance.offset-border-radius(
    --sc-popover-form-border-radius,
    -12px
  );
}

/**
 * Styles applied to `fullscreen` popover forms.
 */
.searchcraft-popover-form-fullscreen {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: var(--sc-surface-neutral-secondary);

  & .searchcraft-popover-form {
    position: absolute;
    inset: 0;
  }

  & .searchcraft-popover-list-view {
    overflow: scroll;
  }
}

.searchcraft-popover-form-fullscreen-input-wrapper
  .searchcraft-input-form-input {
  border-radius: var(--sc-popover-form-border-radius);
  outline-width: 1px;
  outline-color: var(--sc-border-neutral);
}

.searchcraft-popover-form-fullscreen-button {
  border-radius: var(--sc-popover-form-border-radius);
}
