@use "../typography.scss";

:root {
  /**
   * The method the image uses to fill the container.
   */
  --sc-popover-list-item-image-fit: contain;
}

.searchcraft-popover-list-item {
  @include typography.font-base();
  border-bottom: 1px solid var(--sc-border-neutral);
  padding: 12px 0;
}

searchcraft-popover-list-item:last-child .searchcraft-popover-list-item {
  border-bottom: none;
}

.searchcraft-popover-list-item-link {
  align-items: flex-start;
  color: var(--sc-content-neutral-primary);
  display: flex;
  gap: 24px;
  padding: 12px;
  text-decoration: none;

  &:focus,
  &:active {
    background-color: var(--sc-surface-neutral-primary-active);
  }

  &:hover {
    background-color: var(--sc-surface-neutral-primary-hover);
  }
}

.searchcraft-popover-list-item-image-wrapper {
  align-items: center;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 160px;
}

.searchcraft-popover-list-item-image {
  height: 100%;
  object-fit: var(--sc-popover-list-item-image-fit);
  width: 100%;
}

.searchcraft-popover-list-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
}

.searchcraft-popover-list-item-content-title,
.searchcraft-popover-list-item-content-subtitle {
  display: -webkit-box;
  line-clamp: 2;
  margin: 0;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.searchcraft-popover-list-item-content-title {
  @include typography.heading-5();
}

.searchcraft-popover-list-item-content-subtitle {
  @include typography.body();
}
