@use "../typography.scss";

.searchcraft-search-result {
  @include typography.font-base();
}

.searchcraft-search-result-no-template {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;

  & > p {
    margin: 0;
  }
}
