@use "../typography.scss";

.searchcraft-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.searchcraft-loading-dots {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 40px;

  & > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--sc-surface-brand-primary);
    animation: searchcraft-jump 0.6s ease-in-out infinite;
  }

  & .searchcraft-loading-dot-2 {
    animation-delay: 0.15s;
  }

  & .searchcraft-loading-dot-3 {
    animation-delay: 0.3s;
  }
}

.searchcraft-loading-label {
  @include typography.body-small();
  letter-spacing: 2px;
  color: #828282;
  margin: 0;
}

@keyframes searchcraft-jump {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
  }
  100% {
    transform: translateY(0);
  }
}