@use "../typography.scss";

.searchcraft-summary-box {
  padding: 20px;
  border-radius: var(--sc-border-radius);
  background-color: var(--sc-surface-neutral-secondary);
  position: relative;
  min-height: 200px;

  color: var(--sc-content-neutral-primary);

  @include typography.body();

  & h1, h2, h3, h4, h5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & p {
    padding-bottom: 10px;
  }

  & img {
    max-width: 200px;
  }

  & ol, ul {
    padding-left: 1em;
    padding-bottom: 10px;
  }

  & a {
    color: var(--sc-content-brand);
  }
}
