@use "../typography.scss";
@use "../breakpoints.scss";
@use "../appearance.scss";

:root {
  /**
   * Border radius applied to popover form containers.
   */
  --sc-popover-form-border-radius: var(--sc-border-radius);
  /**
   * Height of the list view/results container portion of the popover form.
   */
  --sc-popover-list-view-height: 400px;
  /**
   * Size of images of list view items in the popover list view.
   */
  --sc-popover-list-item-image-size: 60px;
  /**
   * Horizontal padding of popover list items.
   */
  --sc-popover-list-item-padding-horizontal: 8px;
  /**
   * Vertical padding of popover list items.
   */
  --sc-popover-list-item-padding-vertical: 8px;
  /**
   * Maximum width of popover forms of type `modal`.
   */
  --sc-popover-modal-max-width: 570px;
}

/**
 * Styles applied to all popover form variants.
 */
.searchcraft-popover-form {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .searchcraft-popover-form-input-wrapper {
    padding: 12px;
    background-color: var(--sc-surface-neutral-secondary);
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  & .searchcraft-popover-form-input-wrapper > searchcraft-input-form {
    flex: 1;
  }

  & .searchcraft-popover-form-cancel-button {
    @include typography.body();
    @include appearance.offset-border-radius(
      var(--sc-popover-form-border-radius),
      12px
    );
    border: 0;
    outline: 0;
    padding: 0;
    flex-shrink: 0;
    background: none;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;

    &:hover {
      background-color: var(--sc-surface-brand-secondary-hover);
    }

    &:focus {
      background-color: var(--sc-surface-brand-secondary-active);
    }
  }
}

/**
 * Styles applied to `inline` popover forms.
 */
.searchcraft-popover-form-inline {
  & .searchcraft-input {
    border-top-left-radius: var(--sc-popover-form-border-radius);
    border-top-right-radius: var(--sc-popover-form-border-radius);
    border-bottom-left-radius: var(--sc-popover-form-border-radius);
    border-bottom-right-radius: var(--sc-popover-form-border-radius);
    border: none;
    outline: none;
  }

  &.searchcraft-popover-form-active .searchcraft-input {
    border-top-left-radius: var(--sc-popover-form-border-radius);
    border-top-right-radius: var(--sc-popover-form-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .searchcraft-popover-inline-wrapper-outer {
    position: relative;
  }

  & .searchcraft-popover-inline-wrapper-inner {
    position: absolute;
    height: var(--sc-popover-list-view-height);
    z-index: 1000;
    width: 100%;
  }

  & .searchcraft-popover-list-view {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--sc-surface-neutral-secondary);
    border-bottom-left-radius: var(--sc-popover-form-border-radius);
    border-bottom-right-radius: var(--sc-popover-form-border-radius);
    max-height: var(--sc-popover-list-view-height);
  }
}

/**
 * Styles applied to `modal` popover forms.
 */
.searchcraft-popover-form-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  background-color: var(--sc-surface-neutral-secondary);

  @media (min-width: breakpoints.$breakpoint-sm) {
    padding: 16px;
    background-color: transparent;
  }

  & .searchcraft-input {
    @include appearance.offset-border-radius(
      var(--sc-popover-form-border-radius),
      12px
    );
    outline-width: 1px;
    outline-color: var(--sc-border-neutral);
  }

  & .searchcraft-popover-form-modal-backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    @media (min-width: breakpoints.$breakpoint-sm) {
      display: block;
    }
  }

  & .searchcraft-popover-form-modal-inner {
    position: absolute;
    inset: 0;
    z-index: 1002;
    margin-top: 0px;
    display: flex;
    border-radius: var(--sc-popover-form-border-radius);
    overflow: hidden;

    @media (min-width: breakpoints.$breakpoint-sm) {
      inset: auto;
      position: relative;
      width: 100%;
      margin-top: 100px;
      max-width: var(--sc-popover-modal-max-width);
    }
  }

  & .searchcraft-popover-list-view {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--sc-surface-neutral-secondary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @media (min-width: breakpoints.$breakpoint-sm) {
      max-height: var(--sc-popover-list-view-height);
    }
  }

  & searchcraft-popover-list-view {
    overflow: scroll;

    @media (min-width: breakpoints.$breakpoint-sm) {
      overflow: auto;
    }
  }
}

/**
 * Styles applied to `fullscreen` popover forms.
 */
.searchcraft-popover-form-fullscreen {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: var(--sc-surface-neutral-secondary);

  & .searchcraft-popover-form {
    position: absolute;
    inset: 0;
  }

  & .searchcraft-input {
    @include appearance.offset-border-radius(
      var(--sc-popover-form-border-radius),
      12px
    );
    outline-width: 1px;
    outline-color: var(--sc-border-neutral);
  }

  & searchcraft-popover-list-view {
    overflow: scroll;
  }
}
