@use "../typography.scss";
@use "../breakpoints.scss";
@use "../appearance.scss";

.searchcraft-popover-button {
  @include typography.body();
  cursor: pointer;
}

/**
 * Styles applied to `skeuomorphic` popover buttons.
 */
.searchcraft-popover-button-skeuomorphic {
  appearance: none;
  background: none;
  border: none;
  color: var(--sc-content-neutral-primary);
  display: block;
  width: 100%;

  & .searchcraft-popover-button-wrapper {
    border: 1px solid var(--sc-border-neutral);
    border-radius: 14px;
    box-shadow:
      0 1px 1px rgb(from var(--sc-content-neutral-primary) r g b / 10%) inset,
      0 2px 2px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset,
      0 4px 4px rgb(from var(--sc-content-neutral-primary) r g b / 5%) nset;
    display: flex;
    gap: 24px;
    height: 40px;
    justify-content: space-between;
    line-height: 1;
    padding: 8px 10px 8px 16px;
    background: linear-gradient(
      0deg,
      var(--sc-surface-neutral-primary) 0%,
      hsl(from var(--sc-surface-neutral-primary) h s calc(l - 3)) 100%
    );

    @media (min-width: breakpoints.$breakpoint-md) {
      height: 63px;
    }
  }

  & .searchcraft-popover-button-input {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  & .searchcraft-popover-button-keycaps {
    color: var(--sc-content-neutral-secondary);
    display: flex;
    gap: 8px;
    font-size: 20px;
    font-weight: 500;
  }

  & .searchcraft-popover-button-keycaps-keycap {
    @include appearance.offset-border-radius(14px, -4px);
    background-color: var(--sc-surface-neutral-primary);
    box-shadow:
      0 4px hsl(from var(--sc-surface-neutral-primary) h s calc(l - 12)),
      0 1px 2px rgb(from var(--sc-content-neutral-primary) r g b / 15%),
      0 6px 1px rgb(from var(--sc-content-neutral-primary) r g b / 20%),
      0 7px 2px rgb(from var(--sc-content-neutral-primary) r g b / 15%),
      0 9px 4px rgb(from var(--sc-content-neutral-primary) r g b / 10%),
      0 13px 8px rgb(from var(--sc-content-neutral-primary) r g b / 5%);
    height: calc(100% - 6px);
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      @include appearance.offset-border-radius(10px, -4px);
      background: linear-gradient(
        340deg,
        var(--sc-surface-neutral-primary) 0%,
        hsl(from var(--sc-surface-neutral-primary) h s calc(l - 8)) 100%
      );
      inset: 4px;
      position: absolute;
    }

    &::after {
      aspect-ratio: 1/1;
      height: 100%;
    }

    & > span {
      display: flex;
      line-height: 1;
      left: 50%;
      margin-top: 2%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .searchcraft-popover-button-input-search-icon {
    height: 50%;
    width: auto;
  }
}
