@use "../typography.scss";

.searchcraft-custom-ad {
  @include typography.body();
}

.searchcraft-adm-ad {
  all: unset;
  border: 2px solid blue;
  border-radius: var(--sc-border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: var(--sc-popover-list-item-padding-vertical)
    var(--sc-popover-list-item-padding-horizontal);

  &:focus {
    background-color: var(--sc-surface-neutral-secondary-active);
    color: var(--sc-content-neutral-secondary);
  }

  &:hover {
    background-color: var(--sc-surface-neutral-secondary-hover);
    color: var(--sc-content-neutral-secondary);
  }
}

.searchcraft-adm-ad-title {
  @include typography.body();
  color: inherit;
  margin: 0;
}

.searchcraft-adm-ad-subtitle {
  @include typography.body-small();
  color: inherit;
  margin: 0;
}

.searchcraft-adm-ad-image-wrapper {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: var(--sc-popover-list-item-image-size);
  justify-content: center;
  width: var(--sc-popover-list-item-image-size);
}

.searchcraft-adm-ad-image {
  max-height: var(--sc-popover-list-item-image-size);
  max-width: var(--sc-popover-list-item-image-size);
}

.searchcraft-adm-ad-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
