.searchcraft-search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.searchcraft-search-results-empty-state-container {
  text-align: center;
}

.searchcraft-search-results-error-message-container {
  text-align: center;
}
