@use "../typography.scss";
@use "../breakpoints.scss";
@use "../appearance.scss";

.searchcraft-popover-footer {
  @include typography.font-base();
  background-color: var(--sc-surface-neutral-secondary);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  line-height: 1;
  padding: 20px 32px;
  box-shadow:
    0 1px 1px rgb(from var(--sc-content-neutral-primary) r g b / 10%) inset,
    0 2px 2px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset,
    0 4px 4px rgb(from var(--sc-content-neutral-primary) r g b / 5%) inset;
}

.searchcraft-popover-footer-results-info {
  margin: 0;
}

.searchcraft-popover-footer-link {
  color: var(--sc-content-neutral-primary);
  display: flex;
  max-width: 160px;
  width: 100%;
}
