.formLTR {
  font-family: var(--sc-font-family);
  text-align: left;
}

.formRTL {
  font-family: var(--sc-font-family);
  text-align: right;
}

.searchContainer {
  align-items: center;
  display: flex;
}