:root {
  --font-stack: Helvetica, Arial, sans-serif;
}

.formLTR {
  font-family: var(--font-stack);
  text-align: left;
}

.formRTL {
  font-family: var(--font-stack);
  text-align: right;
}

.searchContainer {
  align-items: center;
  display: flex;
}